.wrapper {
  width: 100%;
  height: auto;
  padding: 25px;

  @media #{$tablet} {
    height: 100vh;
  }

  .header {
    h2 {
      font-size: $heading-size-l;
      color: $color-grey-400;

      span {
        filter: blur(2px);
      }
    }
  }

  .content {
    p {
      margin-bottom: 20px;
      font-size: $font-size-l;
      font-weight: $font-weight-light;
    }
  }

  @media #{$tablet} {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .header {
      width: 50%;

      h2 {
        font-size: $heading-size-xl;
      }
    }

    .content {
      width: 40%;
      margin: 0 0 -40% 0;

      p {
        letter-spacing: .4px;
      }
    }
  }

  @media #{$desktop} {
    display: flex;
    padding: 20px 50px;
    align-items: center;
    justify-content: space-around;

    .header {
      width: 30%;
      margin-top: -10%;

      h2 {
        font-size: $heading-size-xl;
      }
    }

    .content {
      width: 30%;
      margin: 0 0 -20% -30%;
    }
  }

  @media #{$wide} {
    .header {
      h2 {
        font-size: $heading-size-xxl;
      }
    }
  }
}
