.hero {
  @include flex-centered();

  position: relative;
  width: 100%;
  height: 100vh;

  .background {
    @include flex-centered();

    &::after {
      position: absolute;
      z-index: $z-index--1;
      overflow: hidden;
      width: 0;
      height: 0;
      content:
        url("../../assets/img/sequence/sequence_1.jpg")
        url("../../assets/img/sequence/sequence_2.jpg")
        url("../../assets/img/sequence/sequence_3.jpg")
        url("../../assets/img/sequence/sequence_4.jpg")
        url("../../assets/img/sequence/sequence_5.jpg")
        url("../../assets/img/sequence/sequence_6.jpg")
        url("../../assets/img/sequence/sequence_7.jpg")
        url("../../assets/img/sequence/sequence_8.jpg")
        url("../../assets/img/sequence/sequence_9.jpg")
        url("../../assets/img/sequence/sequence_10.jpg")
        url("../../assets/img/sequence/sequence_11.jpg")
        url("../../assets/img/sequence/sequence_12.jpg")
        url("../../assets/img/sequence/sequence_13.jpg");
    }

    position: relative;
    width: 100%;
    height: 100%;
    background-color: $color-steel;
    background-position: 50% 60%;
    background-size: cover;
    transition: .3s ease-out;
    box-shadow: 0 20px 30px -20px rgba($color-grey-400, .3);

    &--1 {
      background-image: url("../../assets/img/sequence/sequence_1.jpg");
    }

    &--2 {
      background-image: url("../../assets/img/sequence/sequence_2.jpg");
    }

    &--3 {
      background-image: url("../../assets/img/sequence/sequence_3.jpg");
    }

    &--4 {
      background-image: url("../../assets/img/sequence/sequence_4.jpg");
    }

    &--5 {
      background-image: url("../../assets/img/sequence/sequence_5.jpg");
    }

    &--6 {
      background-image: url("../../assets/img/sequence/sequence_6.jpg");
    }

    &--7 {
      background-image: url("../../assets/img/sequence/sequence_7.jpg");
    }

    &--8 {
      background-image: url("../../assets/img/sequence/sequence_8.jpg");
    }

    &--9 {
      background-image: url("../../assets/img/sequence/sequence_9.jpg");
    }

    &--10 {
      background-image: url("../../assets/img/sequence/sequence_10.jpg");
    }

    &--11 {
      background-image: url("../../assets/img/sequence/sequence_11.jpg");
    }

    &--12 {
      background-image: url("../../assets/img/sequence/sequence_12.jpg");
    }

    &--13 {
      background-image: url("../../assets/img/sequence/sequence_13.jpg");
    }
  }

  @media #{$desktop} {
    padding: 60px 50px 20px;
  }
}

.claim {
  margin-bottom: 100px;
  font-size: $heading-size-l;
  font-weight: $font-weight-bold;
  letter-spacing: 1px;
  line-height: .9;
  color: $color-grey-400;

  span {
    filter: blur(2px);
    transition: .3s ease-out;
  }

  @media #{$tablet} {
    font-size: $heading-size-l;
  }

  @media #{$desktop} {
    margin-bottom: 130px;
    font-size: $heading-size-xl;
  }
}

.move-button {
  display: none;

  @media #{$tablet} {
    position: absolute;
    right: 60px;
    bottom: 30px;
    display: block;
  }
}
