.hero {
  @include flex-centered();

  position: relative;
  width: 100%;
  height: 100vh;

  .background {
    @include flex-centered();

    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/img/fullscreen_01.jpg");
    background-position: 50% 60%;
    background-size: cover;
    box-shadow: 0 20px 30px -20px rgba($color-grey-400, .3);
  }

  @media #{$desktop} {
    padding: 60px 50px 20px;
  }
}

.claim {
  margin-bottom: 100px;
  font-size: $heading-size-l;
  font-weight: 800;
  letter-spacing: 1px;
  line-height: .9;
  color: $color-grey-400;

  span {
    filter: blur(2px);
    transition: .3s ease-out;
  }

  @media #{$tablet} {
    font-size: $heading-size-l;
  }

  @media #{$desktop} {
    margin-bottom: 130px;
    font-size: $heading-size-xl;
  }
}

.move-button {
  display: none;

  @media #{$tablet} {
    position: absolute;
    right: 60px;
    bottom: 30px;
    display: block;
  }
}
