.wrapper {
  position: fixed;
  z-index: $z-index-9;
  display: flex;
  width: 100%;
  padding: 25px;
  background: $color-white;
  align-items: center;
  justify-content: space-between;

  @media #{$desktop} {
    padding: 30px 50px;
    background-color: transparent;
  }
}

.logo {
  @include sizing(120px auto);

  margin: 0;
  padding: 0;
}

.menu {
  font-size: $font-size-s;

  &--mobile {
    @include flex-centered;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba($color-grey-100, .95);
    flex-direction: column;

    @media #{$desktop} {
      display: none;
    }

    a {
      margin-bottom: 30px;
      font-size: $font-size-xl;
      font-weight: $font-weight-semibold;
      text-decoration: none;
      color: $color-grey-500;
    }
  }

  &--desktop {
    display: none;

    @media #{$desktop} {
      display: flex;
      align-items: center;
    }

    a {
      margin-left: 40px;
      font-size: $font-size-s;
      font-weight: $font-weight-regular;
      color: $color-grey-500;
    }
  }
}

.hamburger {
  @include sizing(25px 14px);

  position: relative;
  z-index: $z-index-9;
  padding: 10px 25px;
  transition: .2s ease-out;
  cursor: pointer;

  @media #{$desktop} {
    display: none;
  }

  span {
    @include sizing(25px 2px);

    position: absolute;
    display: block;
    background: $color-grey-500;
    transition: .2s ease-out;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2) {
      top: 6px;
    }

    &:nth-child(3) {
      top: 12px;
    }
  }

  &.open {
    span {
      background: $color-grey-400;

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(1) {
        transform: rotate(45deg) translateY(8px);
      }

      &:nth-child(3) {
        transform: rotate(-45deg) translateY(-8px);
      }
    }
  }
}

.schedule {
  button {
    cursor: pointer;
    width: 130px;
    height: 50px;
    padding: 5px;
    font-size: $font-size-l;
    font-weight: $font-weight-semibold;
    line-height: $font-size-l;
    border: 1px solid $color-grey-400;
    border-radius: 0;
    color: $color-grey-400;
    background: transparent;
    transition: .3s ease-out;
    box-shadow: 0 15px 20px -10px rgba($color-grey-400, .2);

    @media #{$desktop} {
      width: 100px;
      height: 30px;
      padding: 5px;
      font-size: $font-size-s;
      line-height: $font-size-s;
    }

    &:hover {
      transform: translateY(3px);
      box-shadow: 0 15px 20px -10px rgba($color-grey-500, .4);
    }
  }
}
