.wrapper {
  min-width: 100px;
  height: auto;
  cursor: pointer;

  .text {
    margin: 0 0 -10px 0;
    font-size: $font-size-m;
    color: $color-grey-500;
    transition: .2s ease-out;
  }

  .icon {
    margin: 0;
  }

  &:hover .text {
    margin-bottom: -5px;
  }
}
